[Unit]
Description=GATestExt service running a go script

[Service]
Type=simple
ExecStart={WORKDIR}/bin/gatestext_script_linux
Restart=always

[Install]
WantedBy=multi-user.target